body {
  background-color: #f6eaea;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#bloc-interne {
  width: 100%;
  background-color: #f4f3ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 50px;
}

#card {
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
  
#liens {
  display: flex;
  justify-content: space-between;
}

button {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
}

button#selected {
    color: white;
    background-color: black;
}
